  <div class="contents row" >
    <p><%= current_user.email %>さんのコメント一覧</p>
    <% @comments.each do |comment| %>
      <div >
        <%= simple_format(comment.content) %>
        <span class="users"><%= comment.food.name %></span>
      </div>
    <% end %>
  </div>