  .general_five{ 
              margin: auto;
              background-color: #1d0204;
              border: solid 6px #f4a814;
              width: 150px;
              height: 150px;
              -moz-border-radius: 60px;
              -webkit-border-radius: 60px;
              border-radius: 60px;
              box-shadow: 0 0 0 3px #1d0204;
              -webkit-box-shadow: 0 0 0 3px #1d0204;
              -moz-box-shadow: 0 0 0 3px #1d0204;
              }
  .general_five p {
              font-size: 12px;
              margin-top: 25px;
              color: #f4a814;
              text-align: center;
              font-weight: bold;
              }